LAB_HOST_MODE=local
BACKEND=libvirt
TF_VAR_libvirt_uri=qemu:///system
TF_VAR_ssh_private_key_path=/home/your-user/.ssh/id_ed25519
TF_VAR_ssh_public_key=ssh-ed25519\ AAAA...replace-with-your-public-key
